*/nb-configuration.xml
*/nbactions.xml
*.iml
target/
bin/

Revision.java
*.log*

.idea
node_modules
/hit-importer/.sonar
.classpath
.settings
.project
.checkstyle
.flattened-pom.xml

.DS_Store

*/target/
.fb*
